.App {
    text-align: center;
    color: #666;
}

.App img {
    vertical-align: middle;
}
li {
    display: inline;
}
.Pagination {
    display: flex;
    justify-content: center;
    width: 100%;
}

@media screen and (min-width: 769px) {
    .app-thumb-entire {
        width: 70vw;
        margin: auto;
        padding-top: 2vw;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    #banner {
        display: block;
        width: 70vw;
        padding-top: 6.3vw;
        margin: 0 auto 4vw 0;
    }
}

@media screen and(max-width: 768px) {
    .App {
        width: 100%;
    }

    .mainBanner {
        display: none;
    }
}
