.back {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: white;
}

.loginModal {
    width: 360px;
    height: 600px;
    background-color: #060a7d;
    position: relative;
    box-sizing: border-box;
    margin: 50px auto;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
}
.closeB {
    float: right;
    border: 0;
    outline: 0;
    background-color: white;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
}
.modalContents {
    margin: 0 auto;
    width: 100%;
    position: relative;
    padding: 0 20px 32px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

input::placeholder {
    color: #999999;
}

.loginBtn {
    height: 40px;
    font-size: 14px;
    padding: 13px 30px;
    display: flex;
    cursor: pointer;
    background-color: navy;
    border-color: white;
    color: white;
    line-height: 1px;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    margin-top: 20px;
    margin-bottom: 10px;
    border-radius: 10px;
}

/* .kakaoBtn {
    height: 40px;
    font-size: 14px;
    padding: 13px 30px;
    display: flex;
    cursor: pointer;
    background-color: #feec34;
    border-color: white;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    margin-bottom: 10px;
    border-radius: 10px;
}
.kakaoLogo {
    width: 24px;
    height: 25px;
}
.kakaoText {
    width: 300px;
    font-size: 15px;
    text-align: center;
    display: inline-block;
    box-sizing: border-box;
} */
.loginLine {
    color: #bcbcbc;
    font-size: 11px;
    margin-bottom: 35px;
}
.a {
    color: black;
    text-decoration: underline;
    cursor: pointer;
}
.loginB {
    border: 0;
    outline: 0;
    background-color: white;
    cursor: pointer;
    font-size: 11px;
    text-decoration: underline;
}
.link {
    border: 0;
    outline: 0;
    background-color: white;
    cursor: pointer;
}
