@media screen and (min-width: 769px) {
    #inner {
        width: 70vw;
        /* border: 1px solid red; */
        margin: auto;
        margin-top: 2vw;
        text-align: center;
    }

    .container {
        width: 22.43vw;
        height: 50.5vw;
        border-radius: 1vw;
        background-color: #fff;
    }

    .container:hover {
        transform: translate(5px, 5px);
        transition-duration: 0.5s;
    }
}

.container {
    /* border: 1px solid #ccc; */
    background: #fff;
    flex: 1 1 30%;
    margin-bottom: 1.04vw;
    box-shadow: 1px 1px 4px 3.5px rgba(21, 27, 139, 0.411);
}
.container:hover {
    transform: scale(1.02);
}

.thumbTitle {
    font-size: 1.4vw;
    /* overflow: scroll; */
    margin-top: 0.8vw;
    text-align: center;
}

.thumbPicContainer {
    margin: 0 2.21vw;
}
.thumbPicture {
    width: 18vw;
    height: 15vw;
    border: 1px solid #ccc;
    margin: 0.8vw auto;
}

.descript {
    border: 1px solid #ccc;
    width: 18vw;
    height: 5vw;
    margin: auto;
    text-align: left;
    overflow: scroll;
}
.iconContainer {
    margin: 0 8vw;
}

#thumbVersus {
    width: 45px;
}
