@media screen and (min-width: 769px) {
    .curCotainerTitle {
        width: 70vw;
        margin: auto;
        margin-top: 4vw;
        position: relative;
    }

    .contentInner {
        width: 70vw;
        margin: auto;
        margin-top: 4vw;
        border-top: 3vw solid rgba(6, 10, 125, 60%);
        padding-top: 4vw;
        position: relative;
    }

    .curPic {
        width: 30vw;
        height: 30vw;
    }

    .curImg:hover {
        cursor: pointer;
        border: 2px solid #060a7d;
    }

    .curVersus {
        position: absolute;
        top: 14vw;
        left: 48%;
        width: 3vw;
    }

    .curVersus-img {
        width: 3.5vw;
    }

    .curWriterProfile {
        width: 100%;
        height: 100%;
        border: 2px solid #060a7d;
        border-radius: 50%;
    }
}

/* pc 버전 ⬆️ */

/* mobile 버전 ⬇️ */

@media screen and(max-width: 768px) {
    .curContent {
        width: 100%;
    }

    .curCotainerTitle {
        width: 100%;
        margin-top: 4vw; /*w지울거*/
        position: relative;
    }

    .curPic {
        width: 40vw;
        height: 30vw;
        border: 1px solid #ccc; /*지우기*/
    }

    .curPic:hover {
        cursor: pointer;
        border: 2px solid #060a7d;
    }

    .curVersus {
        position: absolute;
        top: 14vw;
        left: 48%;
        width: 4vw;
    }
}

/* pc, mobile 전체 적용 */

.curContent {
    height: 1400px;
    padding-top: 5vw;
}

#curTitle {
    text-align: center;
    font-size: 2.6vw;
    font-weight: 800;
    color: #666;
}

/* --------------button 시작--------------- */

.curBtn {
    width: 3.65vw;
    height: 3.65vw;
    background-color: #fff;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 30px;
}

#editContent {
    width: 2.6vw;
}

.editContentBtn {
    position: absolute;
    right: 6vw;
}

.voting {
    position: absolute;
    right: 14vw;
    top: 7.6vh;
}

#deleteContent {
    width: 2.6vw;
}

.deleteContentBtn {
    position: absolute;
    right: 2.6vw;
}

#votingDeadline {
    width: 2.7vw;
    height: 2.7vw;
    position: absolute;
    right: -50px;
    top: -10px;
}

/* --------------button 끝--------------- */

/* =------------------컨텐츠 내용------------------- */

.voteIng,
.voteOver {
    font-size: 1.5vw;
    font-weight: 600;
    margin-bottom: 65px;
    width: 70vw;
    text-align: center;
}

.voteOver {
    font-size: 1.2vw;
}

#curPicContainer {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 4vw;
}

.voteResult {
    width: 25px;
    margin-top: 2px;
    margin-right: 20px;
}

/* ---------------------작성자프로필-------------------- */

.contentInfo {
    /* border: 1px solid #ccc; */
    height: 6.5vw;
    width: 70vw;
    padding-top: 3vw;
    border-top: 2vw solid reba(6, 10, 125, 60%);
}

.curWriterName {
    font-size: 4vw;
}

.curWriter {
    display: flex;
    justify-content: start;
    font-size: 1.6vw;
    width: 70vw;
    margin-bottom: 2vw;
}

.curWriterImg {
    width: 4vw;
    height: 4vw;
    border-radius: 50%;
    margin-right: 1.5vw;
    background: #fff;
}

.curWriterName {
    font-size: 2vw;
    color: #666;
}

.curDesc {
    display: block;
    height: 13vw;
    overflow: scroll;
    border: 1px solid #bbb;
    font-size: 2vw;
}

/* ---------------알러트창 시작--------------- */

.ing {
    background: #060a7d;
    color: #fff;
    text-align: center;
    height: 2vw;
    vertical-align: middle;
}

.list:hover {
    transform: scale(1.01);
}

.alert {
    background: #060a7d;
    color: #fff;
    border-radius: 2vw;
    width: 250px;
    height: 100px;
    position: absolute;
    left: 37%;
    top: 100px;
    z-index: 500;
    font-weight: 600;
    text-align: center;
    line-height: 100px;
    z-index: 1000;
}

.checkAlertBtn {
    position: absolute;
    left: 42%;
    bottom: 10px;
    line-height: 20px;
    height: 20px;
    width: 40px;
    color: #060a7d;
    background: #fff;
    border: none;
    border-radius: 20%;
}
