.sidebarBtn {
    padding-top: 0.5vw;
    display: flex;
    cursor: pointer;
    outline: none;
    text-decoration: none;
    height: 30px;
    width: 30px;
    justify-content: center;
    text-align: right;
    background-color: #ffffff00;
}

@media screen and (min-width: 769px) {
    .sidebar {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .sidebarBtn {
        display: block;
    }

    .sidebarBack {
        display: block;
        background-color: #fff;
        width: 60vw;
        height: 100vw;
        position: absolute;
        top: 7vw;
        right: 0;
        border: 3px solid #060a7d;
        font-size: 2.5vw;
    }
}
