.mypage {
    width: 50%;
    padding: 20px;
    float: left;
    cursor: pointer;
    font-size: 40vw;
}
.mypage:hover {
    background-color: rgba(6, 10, 125, 0.8);
    color: white;
}
.mycontent {
    width: 50%;
    padding: 20px;
    float: left;
    cursor: pointer;
    font-size: 40px;
}
.mycontent:hover {
    background-color: rgba(6, 10, 125, 0.8);
    color: white;
}

.pfArea {
    padding: 0;
    margin: 0;
    max-width: 100%;
    position: relative;
    display: block;
}
