.mypage {
    width: 50%;
    padding: 20px;
    float: left;
    cursor: pointer;
}
.mypage:hover {
    background-color: rgba(6, 10, 125, 0.8);
    color: white;
}
.mycontent {
    width: 50%;
    padding: 20px;
    float: left;
    cursor: pointer;
}
.mycontent:hover {
    background-color: rgba(6, 10, 125, 0.8);
    color: white;
}
.hello {
    float: left;
    width: 100%;
}
.pf-input-area {
    padding: 0;
    margin: 0;
    max-width: 100%;
    position: relative;
    display: block;
}
