nav {
    height: 4.17vw;
    width: 100%;
    background-color: #060a7d;
}

.nav_inner {
    margin: 0 auto;
    width: 62.5vw;
    display: flex;
    justify-content: flex-end;
}

#logo {
    background-color: #fff;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-top: 10px;
}

.button_container {
    display: flex;
    justify-content: flex-end;
    padding-top: 0.52vw;
}

button {
    width: 5vw;
    height: 3vw;
    background-color: #060a7d;
    font-size: 1.04vw;
    color: #fff;
    padding: 0.3vw 0.21vw;
    margin: 0 0.52vw;
    box-shadow: none;
    border: none;
}

button:hover {
    border: 1px solid #fff;
    border-radius: 40%;
}
