.mypage {
    font-size: 2vw;
    width: 50%;
    padding: 20px;
    float: left;
    cursor: pointer;
}
.mypage:hover {
    background-color: rgba(6, 10, 125, 1);
    color: white;
}
.mypageTitle {
    margin: 10%;
}
.mycontent {
    font-size: 2vw;
    width: 50%;
    padding: 20px;
    cursor: pointer;
}
.mycontent:hover {
    background-color: rgba(6, 10, 125, 1);
    color: white;
}
.myDetailContainer {
}
.myHello {
    float: none;
    width: 40vw;
    align-content: center;
}
.pfArea {
    margin: auto 0;
    width: 100%;
    padding-left: 30vw;
}
.label {
    color: #333;
    font-size: 2vw;
    margin-top: 1.2vw;
    margin-bottom: 1.2vw;
}
.inputBox {
    background-color: rgba(6, 10, 125, 0.8);
    border-radius: 6px;
    outline: 0;
    font-weight: 500;
    height: 30px;
    padding: 0 20px;
    width: 15%;
}

.filteredContainer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 70vw;
    margin: auto;
    border: 0;
    background-color: white;
}
.myThumnailContainer {
    margin: 0.5vw 0;
    flex: 1 1 30%;
    width: 22.43vw;
    height: 50vw;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 1vw;
}

#thumbVersus {
    margin: 2vw 0;
}
