.mypage {
    font-size: 3vw;
    width: 50%;
    margin-top: 5vw;
    float: left;
    cursor: pointer;
}
.mypage:hover {
    background-color: rgba(6, 10, 125, 1);
    color: white;
}
.mypageTitle {
    margin: 10%;
}
.mycontent {
    font-size: 3vw;
    width: 50%;
    margin-top: 5vw;
    float: left;
    cursor: pointer;
}
.mycontent:hover {
    background-color: rgba(6, 10, 125, 1);
    color: white;
}
.myDetailContainer {
    width: 85vw;
}
.myHello {
    border: 0;
    position: absolute;
    left: 15vw;
    align-content: center;
}
.pfArea {
    padding-left: 35vw;
    width: 50vw;
    top: 55vw;
    left: 15vw;
    height: 50vw;
    border: 1px solid white;
}
.profile_img {
    border: 1px solid white;
    position: absolute;
    margin: 5vw -20vw;
    width: 30vw;
    height: 35vw;
    display: block;
}
.avatar {
    left: 1vw;
    position: absolute;
    width: 28vw;
    height: 28vw;
    border: 1px solid #ccc;
}
.infoContainer {
    position: absolute;
    margin-top: 4.5vw;
    margin-right: -15vw;
    border: 1px solid white;
}
.labelContainer {
    position: relative;
    margin: 0.5vw 10vw;
    border: 1px solid white;
}
.label {
    color: #333;
    width: 10vw;
    font-size: 1.5vw;
    margin: 1vw;
}
.user {
    border-radius: 1vw;
    border: 1px solid white;
    margin-left: 3.5vw;
    text-align: left;
    font-size: 2vw;
}
.email {
    margin-left: 3.5vw;
    text-align: left;
    font-size: 2vw;
}
.inputBox {
    border: 1px solid #666;
    border-radius: 1vw;
    outline: 0;
    font-weight: 300;
    font-size: 10px;
    height: 3vw;
    width: 35vw;
    margin-left: 3vw;
}

.filteredContainer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 70vw;
    margin: auto;
    border: 0;
    background-color: white;
}
.thumbBack {
    margin-top: 6vw;
}
.myThumnailContainer {
    margin: 0.5vw 0;
    flex: 1 1 30%;
    width: 22.43vw;
    height: 50vw;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 1vw;
}
.editBtn {
    position: fixed;
    top: 0;
}

#thumbVersus {
    margin: 2vw 0.5vw;
}
