* {
    margin: 0;
    padding: 0;
}

#inner {
    width: 70vw;
    margin: auto;
    padding: 2.6vw 1.04vw 0 1.04vw;
    /* border-right: 1px solid red;
    border-left: 1px solid red; */
    position: relative;
}

#newTitle {
    display: block;
    text-align: center;
    width: 52.08vw;
    height: 2.6vw;
    margin: 1.56vw auto;
}

#NewSubmit {
    width: 3.65vw;
    background-color: #fff;
    border: none;
    position: absolute;
    top: 8vw;
    margin-left: 1.04vw;
}

.inputTitle {
    width: 26.04vw;
    height: 3vw;
    font-size: 1.8vw;
    vertical-align: middle;
    border: 1px solid #ccc;
    width: 55.73vw;
}

#newVersus {
    width: 3vw;
    height: 3vw;
    position: absolute;
    top: 10vw;
    left: 48%;
}

.NewContentFrame {
    margin: 10vw 0;
    position: relative;
    /* border: 1px solid red; */
    margin-top: 2.6vw;
    display: flex;
    justify-content: space-between;
}

.pic {
    width: 28.65vw;
    height: 28.65vw;
    border: 1px solid #ccc;
}

.NewDesc {
    width: 70vw;
    height: 8vw;
    display: block;
    position: absolute;
    top: 32vw;
    border: 1px solid #ccc;
}
