* {
    margin: 0;
    padding: 0;
}

#inner {
    width: 70vw;
    margin: auto;
    padding: 2.6vw 1.04vw 0 1.04vw;
    position: relative;
}

#newTitle {
    display: block;
    text-align: center;
    width: 70vw;
    height: 2.6vw;
    margin: 1.56vw auto;
    border-bottom: 3vw solid rgba(6, 10, 125, 60%);
    padding: 5vw 0 7vw 0;
    margin-bottom: 3vw;
    font-weight: 600;
}

#NewSubmit {
    width: 3.65vw;
    height: 3.65vw;
    background: url(https://cdn.discordapp.com/attachments/881710985335934979/881719851356409896/verify.png);
    background-repeat: no-repeat;
    background-size: contain;
    border: none;
    position: absolute;
    top: 21.9vw;
    right: -1.1vw;
}

.inputTitle {
    height: 3vw;
    font-size: 1.8vw;
    vertical-align: middle;
    border: 1px solid #ccc;
    width: 65vw;
    margin-right: 4vw;
}

#newVersus {
    width: 4vw;
    height: 4vw;
    position: absolute;
    top: 12vw;
    left: 47%;
}

.NewContentFrame {
    width: 70vw;
    height: 50vw;
    margin: 10vw 0;
    position: relative;
    margin-top: 2.6vw;
    display: flex;
    justify-content: space-between;
}

.pic {
    width: 28.65vw;
    height: 28.65vw;
    border: 1px solid #ccc;
}

.NewDesc {
    width: 70vw;
    height: 8vw;
    display: block;
    position: absolute;
    top: 32vw;
    border: 1px solid #ccc;
}
