.searchBtn {
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    text-decoration: none;
    padding-left: 1vh;
    padding-right: 1vh;
    background-color: rgba(255, 255, 255, 0);
}
.searchIcon {
    width: 10vw;
    height: 10vw;
}
.searchInput {
    flex: 1 1 100%;
    font-size: 1.5vw;
    line-height: 3.5vw;
    height: auto;
    border: none;
    padding-right: 10vw;
    position: relative;
}
.inputWrapper {
    background-color: white;
    display: flex;
    border: 0.5vh solid #ccc;
    align-items: center;
    transition: all 0.125s;
    cursor: text;
    padding: 1.5vw 1.5vw;
    height: 2vw;
    position: absolute;
    left: 40vw;
    top: 20vh;
}
.searchModal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(102, 102, 102, 0.5);
}
