.searchBtn {
    margin-top: 0.3vw;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    text-decoration: none;
    padding-left: 1vh;
    padding-right: 1vh;
    background-color: rgba(255, 255, 255, 0);
}
.searchIcon {
    width: 10vw;
    height: 10vw;
}
.searchInput {
    flex: 1 1 100%;
    font-size: 1.5vw;
    line-height: 3vw;
    height: auto;
    border: none;
    padding-right: 10vw;
    position: relative;
}
.inputWrapper {
    background-color: white;
    display: flex;
    border: 0.5vh solid #ccc;
    align-items: center;
    transition: all 0.125s;
    cursor: text;
    padding: 1.5vw 0;
    height: 1vw;
    width: 70vw;
    margin: 3vw auto;
    border-radius: 1vw;
}
.closeBtn {
    font-size: 1.5vw;
    margin-right: 10px;
}
.searchModal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: white;
}
.filteredContainer {
    display: flex;
}
.searchThumbnail {
    box-shadow: 1vw 2vw rgba(255, 255, 255, 0.3);
    padding-top: 10px;
    /* 여러 개를 모아주는 콘테이너 */
    text-align: center;
    flex: 1 1 40%;
    margin: auto;
    width: 72vw;
    height: 51.5vw;
    overflow-y: auto;
    border: 3px solid white;
    border-radius: 1vw;
}
.thumbPicContainer {
    margin: 0 2.21vw;
}
.thumbPicture {
    width: 18vw;
    height: 15vw;
    border: 1px solid #ccc;
    margin: 0.8vw auto;
}
.searchThumbContainer {
    /* 한 개에 대한 css */
    border-radius: 1vw;
    margin-bottom: 1.04vw;
    width: 22.43vw;
    overflow-y: auto;
    overflow-x: hidden;
    border: 2px solid #ccc;
    height: 50.5vw;
    background-color: white;
    box-shadow: 1px 1px 4px 3.5px rgba(21, 27, 139, 0.411);
}

.searchThumbContainer:hover {
    transform: translate(5px, 5px);
    transition-duration: 0.5s;
}
